* {
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    /* padding-top: 3.5rem; */
    height: 100%;
  }

/* first header */

  .top-header {
      width: 100%;
      background-color:black;
      display: flex;
      padding: 4px;
      align-items: center;
      justify-content:space-between;  
  }

  .first-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
   
  }
  .phn-no{
      display:flex;
      margin-left: 8rem;
      color:#5293F4
}

.phn-no a {
   color:#5293F4;
   padding-left: 5px;
 }

 .phn-no a:hover {
    opacity: 0.6;
  }
  .first-nav__item {
    margin: 0 1rem;
  }

  .first-nav__item a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .first-nav__item a:hover{
     color: white;
     opacity: 0.6;
  }


  .blue-clr-nav  a {
    background-color:#5293F4;
}

.yellow-clr-nav  a {
    background-color:#F4B452;
}

.red-clr-nav  a {
    background-color:#EE5349;
}

.main-header {
    margin-top:1rem;
    display: flex;
    margin-left: 5rem;
    align-items: center;
}
.main-header-logo {
    padding-right: 2rem;
}
.main-header-title-eng{
    font-size:3rem;
}

.main-header-title-hin{
    font-size:3rem;
}

.header-top-hr{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr.header-top-hrline{
    
    border: 4px solid #828181;
    width: 90%;
    
}

/* second nav  */

.second-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.second-nav__item{
    margin: 0 1rem;
}


.second-nav__item a {
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
}

.second-nav__item a:hover ,a:active {
    color: white;
    background: #5293F4;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}



.active-nav  a{
    background: #5293F4;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.main-img{
    max-width: 100%;
    height: auto;
}

/* principal desk section */
.principl-desk-section {
    margin-top:4rem;
    display: flex;
    justify-content:space-between;
    align-content: space-between;
   
   
}
.principl-desk-items{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    background-color:#CAD9EF;
    border: 1px solid #CAD9EF;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.principl-desk-item{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.principl-desk-item-heading{
    font-size: 35px;
    margin:0;
    
    
}
.principl-desk-item-heading  p {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
}
.principl-desk-img img {
    border-radius: 5px;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.principl-desk-span {
    color:#205CF8;
    font-weight: bold;
}
.principl-desk-item-btns {
    display: flex;
    justify-content:flex-end;
}

.principl-desk-item-btn a {
    background: #5293F4;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.principl-desk-item-btn a:hover {
    opacity: 0.6;
}


.about-gpgc-items{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.about {
    font-size: 35px; 
    margin-bottom: 0rem;
}
.about-desk-span{
    color:#205CF8;
    font-weight: bold;
}

.about-gpgc-item-msg{
    padding-bottom: 2rem;
}

.hrline {
    border: 2px solid #5293F4;
    width: 60%;
    margin-top: 0;
    opacity: 1;
}

.main-facuity-title p {
    font-size:42px;
    text-align: center;
}

.main-facuity {
    margin-top:3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    color:white;
    display: flex;
    flex-direction: column;
    background-color:#5293F4;
    border: 1px solid #CAD9EF;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

main-facuity-item  p {
    display: inline;
    margin-bottom:0px;
}

.main-facuity-items {
    display: flex;
    justify-content:space-evenly;
    
}

.main-facuity-item  {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.main-facuity-item  img {
    border-radius: 50%;
    height: 13rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.main-facuity-hr{
    display: flex;
    justify-content:center;
}

.facuity-hrline {
    border: 2px solid white;
    width: 30%;
    margin-top: 0;
    opacity: 1;
    margin-bottom: 2rem;
}


.main-facuity-item-text{
    padding-top:1rem;
    color:black;
}
.main-facuity-item-text {
    font: size 25px;
    color:white;
}


/* NOTICE AND UPCOMING SECTION*/

.notice-upcoming-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.noticeboard {
    font-size:30px;
}

.notice-viewall{
    font-size:  28px;
    color:#5293F4;
}

.notice-viewall a{
    text-decoration:none;
}

.notice-viewall a:hover{
    border-bottom:2px solid#5293F4;
}


.notice-section {
    display: flex;
    flex-direction:column;
    background-color:white;
    border: 1px solid #CAD9EF;
    border-radius: 10px;
    padding-left:1rem ;
    padding-bottom: 2rem;
    padding-right:1rem ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top:2rem;
}

.notice-section-items {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
    color:black;
    display: flex;
    background-color:#CAD9EF;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.notice-section-item-heading {
    display: flex;
    justify-content: space-between;
}
.notice-section-heading {
    display: flex;
    justify-content:space-between;
    margin-top:2rem;
}

.notice-section-item-text {
    font-size:18px;
    opacity: 0.6;
}

.notice-section-item-date {
    font-size:20px;
    opacity: 0.6;
}

.notice-section-item-main p {
    opacity: 0.9;
}

.upcoming-section {
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    color:black;
    display: flex;
    background-color:#CAD9EF;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.upcoming-section-items {
    display: flex;
    flex-direction: column;
}

.upcoming-section-item {
    color:black;
    display: flex;
    background-color:white;
    border-radius: 10px;
    align-items: center;
    padding: 1rem;
    margin-bottom:1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.upcoming {
    font-size:30px;
    padding-right:5rem;
}
.upcoming-item-msg {
    padding-left: 1rem;
    color:#5293F4;
}

.upcoming-item-msg-event {
   
    font-size:25px;
    color: #5293F4;
    margin-bottom: 0%;
}







/* GALLERY SECTION */


.gallery-section {
    margin-top:3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    color:white;
    display: flex;
    flex-direction: column;
    background-color:#5293F4;
    border: 1px solid #CAD9EF;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 1px 1px 1px -1px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.gallery-section h1 {
    font-size:45px;
}

.gallery-section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.galley-section-hrline {
    border: 2px solid white;
    width: 20%;
    margin-top: 0;
    opacity: 1;
    margin-bottom: 2rem;
}

.gallery-section-item img { 
    width:180px;
    border-radius:15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}



.gallery-section-btn {
    display: flex;
    justify-content:flex-end;

}

.gallery-section-btn a {
    margin-top: 1rem;
    background: white;
    color: #5293F4;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.gallery-section-btn a:hover  {
    opacity: 0.6;
}


